<div class="horizontal-card">
  <div class="card-image">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {% if post.image %}
        <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
      {% endif %}
    </a>
  </div>
  <div class="card-body">
    <div class="card-title">
      <a class="card-title-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</div>
    <div class="horizontal-rating">
      {% include post/star_rating.html %}
    </div>
    <div class="horizontal-card-footer">
        <div class="wrapfooter">
            <span class="post-date">{{ post.date | date_to_string }}</span>
        </div>
    </div>
  </div>
</div>
