<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>
        <ul class="menu">
          {% if page.classification == "about" %}
            <li class="menu__entry__on"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          {% else %}
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          {% endif %}

          {% if page.classification == "blog" %}
            <li class="menu__entry__on"><a href="{{ '/' | prepend: site.baseurl }}">Blog</a></li>
          {% else %}
            <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Blog</a></li>
          {% endif %}

          {% if page.classification == "thoughts" %}
            <li class="menu__entry__on"><a href="{{ '/thoughts/thoughts' | prepend: site.baseurl }}">Thoughts</a></li>
          {% else %}
            <li class="menu__entry"><a href="{{ '/thoughts/thoughts' | prepend: site.baseurl }}">Thoughts</a></li>
          {% endif %}
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
</header>
