<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">
          {% for level1 in site.data.navigation %}
            {%if page.categories[0] == level1.title %}
              <li class="menu__entry__on"><a href="{{level1.url}}">{{level1.name}}</a></li>
            {% else %}
              <li class="menu__entry"><a href="{{level1.url}}">{{level1.name}}</a></li>
            {% endif %}
          {% endfor %}

          <ul class="subMenu">
            {% for level1 in site.data.navigation %}
              {%if page.categories[0] == level1.title %}
                {% for level2 in level1.subitems %}
                  {% if page.classification == nil %}
                    <li class="subMenu__entry"><a href="{{level2.url}}">{{level2.name}}</a></li>
                  {% elsif page.classification[0] == level2.title %}
                    <li class="subMenu__entry__on"><a href="{{level2.url}}">{{level2.name}}</a></li>
                  {% else %}
                    <li class="subMenu__entry"><a href="{{level2.url}}">{{level2.name}}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </ul>
    </div>
    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
</header>
