.sidebarContentWrapper {
    width: 80%;
    // margin-right: 200px;
    float: right;
}

.sidebarContent{
  padding-left: 10%;
  padding-right: 10%;
}

.sidebar-title {
    margin-bottom: 110px;
}

.sidebar-title__text {
    font-size: 40px;
}

.sidebar-title__subtitle {
    font-size: 20px;
}

.sidebarWrapper {
  width: 20%;
  padding-top: 100px;
  float: left;
}
.sidebar {
  padding-left: 35%;
}
.sidebar.affix {
  position: static;
}
/* First level of nav */
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f7f7f7;
  border-radius: 5px;
}
/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: $cloudy;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e8ebee;
  border-right: 1px solid #d8dde2;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #1d365d;
  background-color: transparent;
  border-right: 1px solid #1d365d;
}
.sidebar .nav .nav {
  display: none;
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding: 3px 30px;
  font-size: 90%;
}
.sidebar .glyphicon {
  font-size: 12px;
  margin-left: 10px;
}
