---
layout: thoughtsPage
title: Thoughts
subtitle: 历方知避
sitemap:
  priority: 0.9
categories: [thoughts]
classification: [thoughts-all]
---

<div class="sidebarContentWrapper">
  <div class="sidebar sidebarThoughts">
    <ul class="nav sidenav">
      {% for thought in site.thoughts reversed %}

          {% capture this_year %}{{ thought.date | date: "%Y" }}{% endcapture %}
          {% capture next_year %}{{ thought.previous.date | date: "%Y" }}{% endcapture %}
          {% if forloop.first %}
            <li><a href="/thoughts/{{this_year}}-thoughts">{{this_year}}</a></li>
          {% endif %}
          {% if forloop.last %}
          {% else %}
            {% if this_year != next_year %}
              <li><a href="/thoughs/{{next_year}}-thoughts">{{next_year}}</a></li>
            {% endif %}
          {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="sidebarContent sidebarContentThoughts">
    {% include sidebarPage/title.html %}
    <ul class="list-posts">
        {% for thought in site.thoughts reversed %}
          {% capture this_year %}{{ thought.date | date: "%Y" }}{% endcapture %}
          {% if this_year == "2019" %}
            <article class="module">
              <h2>
                <time>{{ thought.date| date: "%m/%d/%Y" }}</time>
                {% if thought.link %}
                  <a href={{thought.link}}><i class="icon icon-link"></i></a>
                {% endif %}
              </h2>
              <p>
              {{ thought.content }}
              </p>
            </article>
          {%endif %}
        {% endfor %}
    </ul>
  </div>
</div>
