---
layout: thoughtsPage
title: Thoughts
subtitle: Popped up ideas
sitemap:
  priority: 0.9
categories: [thoughts]
classification: [thoughts-all]
---

<ul class="list-posts">
    {% for thought in site.thoughts reversed %}
      {% capture this_year %}{{ thought.date | date: "%Y" }}{% endcapture %}
      {% if this_year == "2019" %}
        <article class="module">
          <h2>
            <time>{{ thought.date| date: "%m/%d/%Y" }}</time>
          </h2>
          <p>
          {{ thought.content }}
          </p>
        </article>
      {%endif %}
    {% endfor %}
</ul>
