---
layout: thoughtsPage
title: Thoughts
subtitle: 伤方知愈
sitemap:
  priority: 0.9
categories: [thoughts]
classification: [thoughts-serious]
---
<div class="sidebarContentWrapper">
  <div class="sidebar sidebarThoughts">
    <ul class="nav sidenav">
      {% assign this_year = nil %}
      {% assign next_year = nil %}
      {% for thought in site.thoughts reversed %}
        {% if thought.classification[0]=="thoughts-serious" %}
          {% assign next_year = this_year %}
          {% capture this_year %}{{ thought.date | date: "%Y" }}{% endcapture %}
          {% if next_year==nil %}
            <li><a href="/thoughts/{{this_year}}-thoughts-serious">{{this_year}}</a></li>
          {% endif %}
          {% if this_year != next_year %}
            <li><a href="/thoughs/{{next_year}}-thoughts-serious">{{next_year}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="sidebarContent sidebarContentThoughts">
    {% include sidebarPage/title.html %}
    <ul class="list-posts">
        {% for thought in site.thoughts reversed %}
          {% if thought.classification[0]=="thoughts-serious" %}
            <article class="module">
              <h2>
                <time>{{ thought.date| date: "%m/%d/%Y" }}</time>
                {% if thought.link %}
                  <a href={{thought.link}}><i class="icon icon-link"></i></a>
                {% endif %}
              </h2>
              <p>
                {{ thought.content }}
              </p>
            </article>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
