---
layout: thoughtsMainPage
title: Thoughts
subtitle: 历方知避
sitemap:
  priority: 0.9
categories: [thoughts]
classification: [thoughts-all]
---

<ul class="list-posts">
    {% for thought in site.thoughts reversed %}
      <article class="module">
        <h2>
          <time>{{ thought.date| date: "%m/%d/%Y" }}</time>
          {% if thought.link %}
            <a href={{thought.link}}><i class="icon icon-link"></i></a>
          {% endif %}
        </h2>
        <p>
          {{ thought.content }}
        </p>
      </article>
    {% endfor %}
</ul>
