<div id="component" class="component component-small photoBrowse">
  <ul class="itemwrap">
    <li class="current center"><img src="/assets/images/1.jpg" alt="img01"/></li>
    <li class="center"><img src="/assets/images/2019-6-1-Tiramisu.jpeg" alt="img02"/></li>
    <li class="center"><img src="/assets/images/1.jpg" alt="img03"/></li>
    <li class="center"><img src="/assets/images/1.jpg" alt="img04"/></li>
    <li class="center"><img src="/assets/images/1.jpg" alt="img05"/></li>
  </ul>
  <nav>
    <a class="prev" href="#">Previous item</a>
    <a class="next" href="#">Next item</a>
  </nav>
</div>
