<div class="featured-box gridBox">
  <div class="gridItem overlay-container">
    <div class="card-content">
      <div class="vertial-card-image">
        <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
      </div>
    </div>
  </div>
  <div class="gridItem overlay-container">
    <div class="card-content">
      <div class="vertial-card-image">
        <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
      </div>
    </div>
  </div>
  <div class="gridItem overlay-container">
    <div class="card-content">
      <div class="vertial-card-image">
        <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
      </div>
    </div>
  </div>
</div>
