<!--component-large && component-small-->
<div id="component" class="component component-large photoBrowse">
  <ul class="itemwrap">
    <li class="current center">
      <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG13.jpeg">
      <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG13.jpeg" alt="img01"/></a>
    </li>
    <li class="center">
      <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG14.jpeg">
      <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG14.jpeg" alt="img02"/></a>
    </li>
    <li class="center">
      <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG6.jpeg">
      <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG6.jpeg" alt="img03"/></a>
    </li>
    <li class="center">
      <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG9.jpeg">
      <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG5.jpeg" alt="img04"/></a>
    </li>
    <li class="center">
      <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG9.jpeg">
      <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG7.jpeg" alt="img05"/></a>
    </li>
    <li class="center">
      <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG9.jpeg">
      <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG8.jpeg" alt="img06"/></a>
    </li>
  </ul>
  <nav>
    <a class="prev" href="#">Previous item</a>
    <a class="next" href="#">Next item</a>
  </nav>
</div>
