<br>
<div class="featured-box horizontal-row">
    <div class="card-content horizontal-card-content">
      <div class="vertial-card-image">
        <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG9.jpeg">
        <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG9.jpeg" alt="imgbox01"></a>
      </div>
    </div>
    <div class="card-content horizontal-card-content">
      <div class="vertial-card-image">
        <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG10.jpeg">
        <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG10.jpeg" alt="imgbox02"></a>
      </div>
    </div>
    <div class="card-content horizontal-card-content">
      <div class="vertial-card-image">
        <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG11.jpeg">
        <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG11.jpeg" alt="imgbox03"></a>
      </div>
    </div>
    <div class="card-content horizontal-card-content">
      <div class="vertial-card-image">
        <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG12.jpeg">
        <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG12.jpeg" alt="imgbox04"></a>
      </div>
    </div>
</div>
<br>
