<br>
<div class="featured-box horizontal-row">
    <div class="card-content horizontal-card-content">
      <div class="vertial-card-image">
        <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG15.jpeg">
        <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG15.jpeg" alt="imgbox01"></a>
      </div>
    </div>
    <div class="card-content horizontal-card-content">
      <div class="vertial-card-image">
        <a href="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG4.jpeg">
        <img src="/life/images/2019-6-1-Kluge-Ruhe/WechatIMG4.jpeg" alt="imgbox02"></a>
      </div>
    </div>
</div>
<br>
