<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}

        {% include externals/styling.html %}
    </head>

    <body>
        {% include header.html %}
        <div class="wrapper">

            {% include post/title.html %}
            {{ content }}
            {% include post/about.html %}

        </div>

        {% include externals/scripting.html %}
        <script type="text/javascript" src='/js/imageSlider.js'></script>
        {% include externals/google_analytics.html %}
    </body>
</html>
