<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}

        {% include externals/styling.html %}
    </head>

    <body>
        {% include header.html %}
        <div class="sidebarContentWrapper">
          <div class="sidebar sidebarFood">
            {%if page.materials %}
              <ul class="nav foodSidenav">
                <h2 class="ingredient-title"><center> Materials </center></h2>
                {% for material in page.materials  %}
                  <div class="ingredient-container">
                    <i class="icon icon-check"></i>
                    <span class="ingredient-item">{{material}}</span>
                  </div>
                  {% endfor %}
                </ul>
              {% endif %}
          </div>

          <div class="sidebarContent sidebarContentFood">
            {% include post/title.html %}
            {% if page.time %}
              <div class="food-time">{% include post/recipe-star_time.html %}</div>
              {% if page.difficulty==nil %} <br><br> {% endif %}
            {% endif %}
            {% if page.difficulty %}
              <div class="food-time">{% include post/recipe-star_difficulty.html %}</div>
              <br><br>
            {% endif %}
            {{ content }}
            {% include post/about.html %}
          </div>
        </div>

        {% include externals/scripting.html %}
        <script type="text/javascript" src='/js/imageSlider.js'></script>
        {% include externals/google_analytics.html %}
    </body>
</html>
